In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Row_Data.xlsx")
df

,Year,Month,BANK,ATM id,STATE,Effective days,Fin Txn,Non Fin Txn,Monthly Txn,AVG Fin Txn,...,TXN RANGE Current Month,TXN RANGE Previous Month,TXN RANGE Previous 2nd Month,Current Margin Range Above/Below 0%,Previous Month Margin Range Above/Below 0%,Previous 2nd Month Margin Range Above/Below 0%,Previous 3rd Month Margin Range Above/Below 0%,Category,Revenue Performance,Up Time
0,2024,4889-11-07 00:00:00,BOB,TSFTSK000969151,Assam,30,3814,1464,5278,127,...,175 200,125 150,150 175,Above 0%,Above 0%,Below 0%,Above 0%,NaN,Above 50K,0.93
1,2024,4889-11-07 00:00:00,BOB,TSFTSK000969154,Assam,30,2315,803,3118,77,...,100 125,50 75,175 200,Below 0%,Below 0%,Below 0%,Above 0%,NaN,35K 40K,0.46
2,2024,4889-11-07 00:00:00,BOB,TSFTSK000969152,Assam,30,3008,928,3936,100,...,125 150,100 125,75 100,Above 0%,Above 0%,Below 0%,Below 0%,NaN,40K 50K,0.93
3,2024,4889-11-07 00:00:00,BOB,TSFTSK000971358,Assam,30,2424,605,3029,81,...,100 125,75 100,50 75,Above 0%,Above 0%,Above 0%,Below 0%,NaN,35K 40K,1.00
4,2024,4889-11-07 00:00:00,BOB,TSFTSK000971362,Assam,30,1632,299,1931,54,...,50 75,75 100,75 100,Below 0%,Below 0%,Below 0%,Below 0%,NaN,20K 25K,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11071,2024,4971-12-28 00:00:00,BOB,TSFNP061067276,Punjab,31,4363,772,5135,141,...,150 175,175 200,150 175,Above 0%,Above 0%,Above 0%,Above 0%,NaN,Above 50K,0.99
11072,2024,4971-12-28 00:00:00,BOB,TSFNP061067277,Punjab,31,4828,738,5566,156,...,175 200,Above 200,Above 200,Above 0%,Above 0%,Above 0%,Above 0%,NaN,Above 50K,0.99
11073,2024,4971-12-28 00:00:00,BOB,TSFNP061067278,Punjab,31,6291,1032,7323,203,...,Above 200,Above 200,Above 200,Above 0%,Above 0%,Above 0%,Above 0%,NaN,Above 50K,0.99
11074,2024,4971-12-28 00:00:00,BOB,TSFTSK018807117,Nagaland,31,,356,356,,...,Below 50,Below 50,Below 50,Below 0%,Below 0%,Above 0%,Above 0%,Repeated 2,Below 10K,0.00
11075,2024,4971-12-28 00:00:00,BOB,TSFTSK000146171,Nagaland,31,950,527,1477,31,...,Below 50,Below 50,Below 50,Above 0%,Below 0%,Above 0%,Above 0%,Improve,10K 20K,1.00

---
Since we cannot see all the columns and their values, we can use the following setting to display them.

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,Year,Month,BANK,ATM id,STATE,Effective days,Fin Txn,Non Fin Txn,Monthly Txn,AVG Fin Txn,AVG Non Fin Txn,AVG Total TXN,Monthly Rev,MHA Revenue,ATM Rev Total,CRA,MHA Cost,Spare Rep. (SLM)\n (AssetOEM),Site Maint\n (Non Asset),Spare Rep.(AC),Spare Rep.(UPS),Onetime Cost,FLM,SUPPLIES,UPS AMC,ATM AMC,VSAT AMC,BW + BCKHL,ESURVEILLANCE,HK,SUD,EBILL,RENT,Insurance,EJ,Compensation,Penalty,Total Cost,Gross Profit,GROSS PROFIT %,Quarter,ATM TYPE,MARGIN RANGE Current Month,TXN RANGE Current Month,TXN RANGE Previous Month,TXN RANGE Previous 2nd Month,Current Margin Range Above/Below 0%,Previous Month Margin Range Above/Below 0%,Previous 2nd Month Margin Range Above/Below 0%,Previous 3rd Month Margin Range Above/Below 0%,Category,Revenue Performance,Up Time
0,2024,4889-11-07 00:00:00,BOB,TSFTSK000969151,Assam,30,3814,1464,5278,127,49,176,52572,3544,56116,11573,NaN,,,NaN,,NaN,240,101,,1250,345,715,3700,775,550,2538,,235,60,1260,2629,25971,30145,0.54,Q4,Regular,Above 30%,175 200,125 150,150 175,Above 0%,Above 0%,Below 0%,Above 0%,NaN,Above 50K,0.93
1,2024,4889-11-07 00:00:00,BOB,TSFTSK000969154,Assam,30,2315,803,3118,77,27,104,33458,2256,35714,11573,NaN,,,NaN,30000,NaN,240,101,176,1250,345,715,5500,775,550,6795,,235,60,1260,1673,61249,25535,0.71,Q4,Regular,Below 0%,100 125,50 75,175 200,Below 0%,Below 0%,Below 0%,Above 0%,NaN,35K 40K,0.46
2,2024,4889-11-07 00:00:00,BOB,TSFTSK000969152,Assam,30,3008,928,3936,100,31,131,42225,2847,45072,11134,NaN,,,NaN,,NaN,240,101,169,1250,226,616,3700,775,550,2165,,235,60,1260,2111,24593,20479,0.45,Q4,Regular,Above 30%,125 150,100 125,75 100,Above 0%,Above 0%,Below 0%,Below 0%,NaN,40K 50K,0.93
3,2024,4889-11-07 00:00:00,BOB,TSFTSK000971358,Assam,30,2424,605,3029,81,20,101,32803,2316,35119,10842,NaN,,,NaN,,NaN,240,101,176,1250,345,,,775,550,2000,,235,60,1260,1640,19475,15644,0.45,Q4,Captive,Above 30%,100 125,75 100,50 75,Above 0%,Above 0%,Above 0%,Below 0%,NaN,35K 40K,1.00
4,2024,4889-11-07 00:00:00,BOB,TSFTSK000971362,Assam,30,1632,299,1931,54,10,64,22785,1536,24321,10842,NaN,,1200,NaN,,NaN,240,101,176,1250,345,,2750,,,1500,3300,235,60,1260,1139,24399,78,0.00,Q4,Regular,Below 0%,50 75,75 100,75 100,Below 0%,Below 0%,Below 0%,Below 0%,NaN,20K 25K,0.73

---
We use `df.head().T` to transpose the first five rows of the DataFrame.

This helps to view column names and sample values vertically, making it easier to inspect wide datasets with many columns.

It improves readability and helps quickly identify data types, missing values, or formatting issues during the cleaning stage.

In [4]:
df.head().T

,0,1,2,3,4
Year,2024,2024,2024,2024,2024
Month,4889-11-07 00:00:00,4889-11-07 00:00:00,4889-11-07 00:00:00,4889-11-07 00:00:00,4889-11-07 00:00:00
BANK,BOB,BOB,BOB,BOB,BOB
ATM id,TSFTSK000969151,TSFTSK000969154,TSFTSK000969152,TSFTSK000971358,TSFTSK000971362
STATE,Assam,Assam,Assam,Assam,Assam
Effective days,30,30,30,30,30
Fin Txn,3814,2315,3008,2424,1632
Non Fin Txn,1464,803,928,605,299
Monthly Txn,5278,3118,3936,3029,1931
AVG Fin Txn,127,77,100,81,54
AVG Non Fin Txn,49,27,31,20,10
AVG Total TXN,176,104,131,101,64
Monthly Rev,52572,33458,42225,32803,22785
MHA Revenue,3544,2256,2847,2316,1536
ATM Rev Total,56116,35714,45072,35119,24321
CRA,11573,11573,11134,10842,10842
MHA Cost,NaN,NaN,NaN,NaN,NaN
Spare Rep. (SLM)\n (AssetOEM),,,,,
Site Maint\n (Non Asset),,,,,1200
Spare Rep.(AC),NaN,NaN,NaN,NaN,NaN
Spare Rep.(UPS),,30000,,,
Onetime Cost,NaN,NaN,NaN,NaN,NaN
FLM,240,240,240,240,240
SUPPLIES,101,101,101,101,101
UPS AMC,,176,169,176,176
ATM AMC,1250,1250,1250,1250,1250
VSAT AMC,345,345,226,345,345
BW + BCKHL,715,715,616,,
ESURVEILLANCE,3700,5500,3700,,2750
HK,775,775,775,775,
SUD,550,550,550,550,
EBILL,2538,6795,2165,2000,1500
RENT,,,,,3300
Insurance,235,235,235,235,235
EJ,60,60,60,60,60
Compensation,1260,1260,1260,1260,1260
Penalty,2629,1673,2111,1640,1139
Total Cost,25971,61249,24593,19475,24399
Gross Profit,30145,25535,20479,15644,78
GROSS PROFIT %,0.54,0.71,0.45,0.45,0.0
Quarter,Q4,Q4,Q4,Q4,Q4
ATM TYPE,Regular,Regular,Regular,Captive,Regular
MARGIN RANGE Current Month,Above 30%,Below 0%,Above 30%,Above 30%,Below 0%
TXN RANGE Current Month,175 200,100 125,125 150,100 125,50 75
TXN RANGE Previous Month,125 150,50 75,100 125,75 100,75 100
TXN RANGE Previous 2nd Month,150 175,175 200,75 100,50 75,75 100
Current Margin Range Above/Below 0%,Above 0%,Below 0%,Above 0%,Above 0%,Below 0%
Previous Month Margin Range Above/Below 0%,Above 0%,Below 0%,Above 0%,Above 0%,Below 0%
Previous 2nd Month Margin Range Above/Below 0%,Below 0%,Below 0%,Below 0%,Above 0%,Below 0%
Previous 3rd Month Margin Range Above/Below 0%,Above 0%,Above 0%,Below 0%,Below 0%,Below 0%
Category,NaN,NaN,NaN,NaN,NaN
Revenue Performance,Above 50K,35K 40K,40K 50K,35K 40K,20K 25K
Up Time,0.93,0.46,0.93,1.0,0.73

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.nunique()

Year                                                  1
Month                                                 4
BANK                                                  1
ATM id                                             2790
STATE                                                11
Effective days                                        2
Fin Txn                                            5991
Non Fin Txn                                        2170
Monthly Txn                                        6522
AVG Fin Txn                                         381
AVG Non Fin Txn                                     118
AVG Total TXN                                       440
Monthly Rev                                       10305
MHA Revenue                                        5149
ATM Rev Total                                     10315
CRA                                                 125
MHA Cost                                              0
Spare Rep. (SLM)\n (AssetOEM)                        37
Site Maint\n (Non Asset)                            293
Spare Rep.(AC)                                        1
Spare Rep.(UPS)                                      10
Onetime Cost                                          0
FLM                                                   3
SUPPLIES                                              3
UPS AMC                                               4
ATM AMC                                               1
VSAT AMC                                             13
BW + BCKHL                                            5
ESURVEILLANCE                                         7
HK                                                   15
SUD                                                   9
 EBILL                                             2465
RENT                                                361
Insurance                                             2
  EJ                                                  2
Compensation                                          2
Penalty                                            4342
 Total Cost                                        8880
 Gross Profit                                     10221
GROSS PROFIT %                                      343
Quarter                                               1
ATM TYPE                                              4
MARGIN RANGE Current Month                            8
TXN RANGE Current Month                               8
TXN RANGE Previous Month                              8
TXN RANGE Previous 2nd Month                          8
Current Margin Range Above/Below 0%                   2
Previous Month Margin Range Above/Below 0%            2
Previous 2nd Month Margin Range Above/Below 0%        2
Previous 3rd Month Margin Range Above/Below 0%        2
Category                                              4
Revenue Performance                                   8
Up Time                                             100
dtype: int64

---
We are identifying and dropping columns that have fewer than `3 unique values` because such columns provide very little or no variation and do not contribute meaningful insights during analysis or modeling.

By removing them, we:

- Reduce unnecessary noise and simplify the dataset
- Improve visualization clarity and model performance
- Keep only columns that can provide useful patterns or differences

We exclude `Year` and `ATM AMC` because, even if they have limited unique values, they are still important features for analysis.

In [7]:
unique_counts = df.nunique()

# Find columns with fewer than 3 unique values
few_unique_cols = unique_counts[unique_counts < 3].index.tolist()

# Remove 'year' and 'ATM AMC' from that list (case-insensitive)
few_unique_cols = [col for col in few_unique_cols if col.lower() != 'year' and col != 'ATM AMC']

# Drop those columns
df = df.drop(columns=few_unique_cols)

In [8]:
df.isnull().sum()

Year                                 0
Month                                0
ATM id                               0
STATE                                0
Fin Txn                              0
Non Fin Txn                          0
Monthly Txn                          0
AVG Fin Txn                          0
AVG Non Fin Txn                      0
AVG Total TXN                        0
Monthly Rev                          0
MHA Revenue                          0
ATM Rev Total                        0
CRA                                  0
Spare Rep. (SLM)\n (AssetOEM)        0
Site Maint\n (Non Asset)             0
Spare Rep.(UPS)                      0
FLM                                  0
SUPPLIES                             0
UPS AMC                              0
ATM AMC                              0
VSAT AMC                             0
BW + BCKHL                           0
ESURVEILLANCE                        0
HK                                  20
SUD                                 20
 EBILL                              12
RENT                                 0
Penalty                              0
 Total Cost                          0
 Gross Profit                        0
GROSS PROFIT %                       0
ATM TYPE                             0
MARGIN RANGE Current Month           0
TXN RANGE Current Month              0
TXN RANGE Previous Month             0
TXN RANGE Previous 2nd Month         0
Category                         10703
Revenue Performance                  0
Up Time                              0
dtype: int64

---
Our dataset has `11,076` total rows, but the `Category` column has only `10,703` non-null values, meaning some rows have missing category information.

We remove these rows because:

- The `Category` field is important for classification and analysis.
- Rows without a category provide incomplete information and can distort insights.
- Keeping only complete records ensures cleaner, more reliable analysis and accurate visualization results.

In [9]:
df = df.drop(columns='Category')

---
Some column names have extra spaces or irregular spacing, which can cause errors when referencing columns in code.

By splitting and rejoining the column names, we remove unnecessary spaces and ensure clean, consistent, and easy-to-use column names for analysis and visualization.

In [10]:
col = df.columns.str.split()
col = [" ".join(i) for i in col]
df.columns = col

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11076 entries, 0 to 11075
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          11076 non-null  int64
 1   Month                         11076 non-null  object
 2   ATM id                        11076 non-null  object
 3   STATE                         11076 non-null  object
 4   Fin Txn                       11076 non-null  object
 5   Non Fin Txn                   11076 non-null  object
 6   Monthly Txn                   11076 non-null  object
 7   AVG Fin Txn                   11076 non-null  object
 8   AVG Non Fin Txn               11076 non-null  object
 9   AVG Total TXN                 11076 non-null  object
 10  Monthly Rev                   11076 non-null  object
 11  MHA Revenue                   11076 non-null  object
 12  ATM Rev Total                 11076 non-null  object
 13  CRA                           11076 non-null  object
 14  Spare Rep. (SLM) (AssetOEM)   11076 non-null  object
 15  Site Maint (Non Asset)        11076 non-null  object
 16  Spare Rep.(UPS)               11076 non-null  object
 17  FLM                           11076 non-null  object
 18  SUPPLIES                      11076 non-null  int64
 19  UPS AMC                       11076 non-null  object
 20  ATM AMC                       11076 non-null  int64
 21  VSAT AMC                      11076 non-null  object
 22  BW + BCKHL                    11076 non-null  object
 23  ESURVEILLANCE                 11076 non-null  object
 24  HK                            11056 non-null  object
 25  SUD                           11056 non-null  object
 26  EBILL                         11064 non-null  object
 27  RENT                          11076 non-null  object
 28  Penalty                       11076 non-null  object
 29  Total Cost                    11076 non-null  int64
 30  Gross Profit                  11076 non-null  int64
 31  GROSS PROFIT %                11076 non-null  float64
 32  ATM TYPE                      11076 non-null  object
 33  MARGIN RANGE Current Month    11076 non-null  object
 34  TXN RANGE Current Month       11076 non-null  object
 35  TXN RANGE Previous Month      11076 non-null  object
 36  TXN RANGE Previous 2nd Month  11076 non-null  object
 37  Revenue Performance           11076 non-null  object
 38  Up Time                       11076 non-null  float64
dtypes: float64(2), int64(5), object(32)
memory usage: 3.3+ MB

Columns from `Fin Txn` to `Penalty` contain numeric data stored as strings.

Converting them to proper numeric types (int or float) ensures:
- Mathematical operations like sum, mean, or correlation can be performed correctly.
- Visualizations (charts, plots) are accurate.
- The dataset is clean and ready for analysis and further EDA.

In [12]:
num_cols = col[4:29]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df.dtypes.head(40)

Year                              int64
Month                            object
ATM id                           object
STATE                            object
Fin Txn                         float64
Non Fin Txn                     float64
Monthly Txn                     float64
AVG Fin Txn                     float64
AVG Non Fin Txn                 float64
AVG Total TXN                   float64
Monthly Rev                     float64
MHA Revenue                     float64
ATM Rev Total                   float64
CRA                             float64
Spare Rep. (SLM) (AssetOEM)     float64
Site Maint (Non Asset)          float64
Spare Rep.(UPS)                 float64
FLM                             float64
SUPPLIES                          int64
UPS AMC                         float64
ATM AMC                           int64
VSAT AMC                        float64
BW + BCKHL                      float64
ESURVEILLANCE                   float64
HK                              float64
SUD                             float64
EBILL                           float64
RENT                            float64
Penalty                         float64
Total Cost                        int64
Gross Profit                      int64
GROSS PROFIT %                  float64
ATM TYPE                         object
MARGIN RANGE Current Month       object
TXN RANGE Current Month          object
TXN RANGE Previous Month         object
TXN RANGE Previous 2nd Month     object
Revenue Performance              object
Up Time                         float64
dtype: object

---
The Month column contains only four unique dates, so instead of full date values, we only need the month information.

Extracting the month:
- Simplifies the dataset for trend analysis.
- Makes grouping by month easier for visualization and insights.
- Avoids unnecessary detail since only four distinct dates exist.

In [13]:
df["Month"] = df["Month"].astype(str)
df["Month"] = df["Month"].str.replace(r'^\d{4}', '2024', regex=True)
df["Month"] = pd.to_datetime(df["Month"]).dt.month_name()

In [14]:
df.to_csv("ATM_Data_Cleaned.csv", index=False)